:root {
    --primary-color: #e4e6e8d5;
    --accent1-color: #21779f;
    --heading-font: "Times New Roman", "Georgia", sans-serrif;
    --body-font: Arial, Helvetica, sans-serif;


}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 14px;
    padding: 7px;
}

footer {
    color: black;
    bottom: 100px;

}

.socialmedia a {
    text-decoration: none;
}

h2 {
    background-color: var(--accent1-color);
    text-align: center;
    opacity: 1;
    width: 100%;
}

.hero {
    position: relative;

}

.hero article {
    position: absolute;
    padding: 1px;
    top: 420px;
    opacity: 1;
    background-color: var(--accent1-color);
    color: white;
    opacity: 0.9;

    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto
}

h1 {
    position: absolute;
    top: 20px;
    width: 97.65%;
    padding: 10px;
    text-align: center;
    opacity: 1;
    background-color: var(--accent1-color);
    color: #ffffff;

}

.hero article img {
    float: right;
    width: 150px;
}