* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
    display: flex;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */
    justify-self: center;

}

.grid {
    background-color: #abb;
    /* enter declarations here */
    place-self: center;


}

.container2 {
    /* write declarations here */
    flex-direction: row;
    justify-content: space-evenly;

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    /* write declarations here */
    display: grid;


}

.columns-3 {
    /* write declaration here */
    grid-column: span 3;

}

.three {
    margin: .25rem;
    background-color: #abd;
}