main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    box-shadow: 0 0 35px #333;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-bottom: 1px solid #000;
    text-align: center;
    border-top: 1px solid #000;
}