* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

:root {
    --boarder: 1px solid rgb(0, 0, 0, 0.2);
    --border-bottom-top: 1px solid #000
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--boarder);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 80;
    left: 100px;


}

main img {
    width: 150px;
    height: auto;
    border: var(--boarder);
    padding: 2px;
    box-shadow: 0 0 30px #333;
    float: right;

}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-bottom: var(--border-bottom-top);
    text-align: center;
    border-top: var(--border-bottom-top);
}

/*Class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    background-color: #eee;
    color: #000
}