.callout {
    max-width: 400px;
    margin: 19px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 10px;
    background-color: #247;
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: auto;


}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}